@inherits LayoutComponentBase
@inject PolyglotCLI.ApplicationMode AppMode

<RadzenLayout style="min-height: 100vh">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="PolyglotCLI Web" Style="font-size: 1.5rem; font-weight: bold; margin-left: 10px;" />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Traductor" Icon="translate" Path="/" />
            <RadzenPanelMenuItem Text="Historial de Trabajos" Icon="history" Path="/history" />
            <RadzenPanelMenuItem Text="Configuración" Icon="settings" Path="/config" />
        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody>
        <div class="p-4">
            @Body
        </div>
    </RadzenBody>

    @if (AppMode.IsWebMode)
    {
        <RadzenFooter>
            <RadzenLabel Text="PolyglotCLI © 2026" />
        </RadzenFooter>
    }
</RadzenLayout>

<RadzenComponents />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

@code {
    bool sidebarExpanded = true;
}
