<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Archivos del Servidor Web (PolyglotCLI.web) -->
    <ComponentGroup Id="ServerComponents" Directory="INSTALLFOLDER">
      <Files Include="..\publish_out\**" />
    </ComponentGroup>

    <!-- Archivos de la Aplicacion de Escritorio (PolyglotCLI.Maui) -->
    <ComponentGroup Id="DesktopComponents" Directory="INSTALLFOLDER">
      <Files Include="..\publish_maui\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
