<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
      <!-- Cosechar de forma recursiva todos los archivos de la salida de publicación -->
      <Files Include="..\publish_out\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
