<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="FittyAr.PolyglotCLI" Name="PolyglotCLI" Manufacturer="FittyAr" Version="1.0.0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>
  </Package>
</Wix>
