<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Id="FittyAr.PolyglotCLI" Name="PolyglotCLI" Manufacturer="FittyAr" Version="1.0.1" UpgradeCode="3c1ef7e1-897d-411a-bc07-bc2cd4ad9d6f">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <MediaTemplate EmbedCab="yes" />

    <!-- Declarar el icono oficial de la aplicacion -->
    <Icon Id="AppIcon" SourceFile="..\manifests\app.ico" />
    
    <!-- Configurar el icono de desinstalacion en Add/Remove Programs (Panel de Control) -->
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <!-- Habilitar la interfaz grafica estandar interactiva de WiX (FeatureTree) -->
    <ui:WixUI Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="..\manifests\license.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="..\manifests\installer_dialog.png" />
    <WixVariable Id="WixUIBannerBmp" Value="..\manifests\installer_banner.png" />

    <!-- Feature: Servidor Web -->
    <Feature Id="ServerFeature" Title="PolyglotCLI Server" Level="1" Description="Instala el servidor web PolyglotCLI para acceso desde el navegador y crea el acceso directo en el Menu Inicio." AllowAdvertise="no" InstallDefault="local">
      <ComponentGroupRef Id="ServerComponents" />
      <ComponentGroupRef Id="ServerShortcutComponents" />
    </Feature>

    <!-- Feature: Aplicacion de Escritorio -->
    <Feature Id="DesktopFeature" Title="PolyglotCLI Desktop" Level="1" Description="Instala la aplicacion nativa de escritorio PolyglotCLI y crea el acceso directo en el Menu Inicio." AllowAdvertise="no" InstallDefault="local">
      <ComponentGroupRef Id="DesktopComponents" />
      <ComponentGroupRef Id="DesktopAppShortcutComponents" />
    </Feature>

    <!-- Feature opcional para los accesos directos del Escritorio -->
    <Feature Id="DesktopShortcutFeature" Title="Accesos directos en el Escritorio" Level="1" Description="Crea accesos directos de PolyglotCLI en el Escritorio." AllowAdvertise="no" InstallDefault="local">
      <ComponentGroupRef Id="ServerDesktopShortcutComponents" />
      <ComponentGroupRef Id="DesktopAppDesktopShortcutComponents" />
    </Feature>
  </Package>
</Wix>
