<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Directorio para los accesos directos en el Menu Inicio -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="PolyglotCLI" />
    </StandardDirectory>

    <!-- Directorio para los accesos directos en el Escritorio -->
    <StandardDirectory Id="DesktopFolder" />

    <!-- ============================== -->
    <!-- Accesos directos del Menu Inicio -->
    <!-- ============================== -->

    <!-- Servidor Web: Menu Inicio -->
    <ComponentGroup Id="ServerShortcutComponents" Directory="ApplicationProgramsFolder">
      <Component Id="ServerStartMenuShortcutComponent" Guid="*">
        <Shortcut Id="ServerStartMenuShortcut"
                  Name="PolyglotCLI Server"
                  Description="Inicia el servidor web PolyglotCLI en el navegador"
                  Target="[ServerFolder]serverapp\PolyglotCLI.exe"
                  WorkingDirectory="ServerFolder"
                  Icon="AppIcon" />
        <RemoveFolder Id="CleanupServerShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\FittyAr\PolyglotCLI" Name="serverInstalled" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <!-- Aplicacion de Escritorio: Menu Inicio -->
    <ComponentGroup Id="DesktopAppShortcutComponents" Directory="ApplicationProgramsFolder">
      <Component Id="DesktopAppStartMenuShortcutComponent" Guid="*">
        <Shortcut Id="DesktopAppStartMenuShortcut"
                  Name="PolyglotCLI Desktop"
                  Description="Inicia la aplicacion de escritorio PolyglotCLI"
                  Target="[DesktopFolder_App]desktopapp\PolyglotCLI.Maui.exe"
                  WorkingDirectory="DesktopFolder_App"
                  Icon="AppIcon" />
        <RemoveFolder Id="CleanupServerShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\FittyAr\PolyglotCLI" Name="desktopAppInstalled" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <!-- ============================== -->
    <!-- Accesos directos del Escritorio -->
    <!-- ============================== -->

    <!-- Servidor Web: Escritorio -->
    <ComponentGroup Id="ServerDesktopShortcutComponents" Directory="DesktopFolder">
      <Component Id="ServerDesktopShortcutComponent" Guid="*">
        <Shortcut Id="ServerDesktopShortcut"
                  Name="PolyglotCLI Server"
                  Description="Inicia el servidor web PolyglotCLI en el navegador"
                  Target="[ServerFolder]serverapp\PolyglotCLI.exe"
                  WorkingDirectory="ServerFolder"
                  Icon="AppIcon" />
        <RegistryValue Root="HKCU" Key="Software\FittyAr\PolyglotCLI" Name="serverDesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <!-- Aplicacion de Escritorio: Escritorio -->
    <ComponentGroup Id="DesktopAppDesktopShortcutComponents" Directory="DesktopFolder">
      <Component Id="DesktopAppDesktopShortcutComponent" Guid="*">
        <Shortcut Id="DesktopAppDesktopShortcut"
                  Name="PolyglotCLI Desktop"
                  Description="Inicia la aplicacion de escritorio PolyglotCLI"
                  Target="[DesktopFolder_App]desktopapp\PolyglotCLI.Maui.exe"
                  WorkingDirectory="DesktopFolder_App"
                  Icon="AppIcon" />
        <RegistryValue Root="HKCU" Key="Software\FittyAr\PolyglotCLI" Name="desktopAppDesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
